<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
</head>
<body>
    <!-- Incluye el navbar aquí -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <h1 class="text-center my-4">¡Gracias por contactarnos!</h1>
        <p>Tu mensaje ha sido enviado correctamente. Nos pondremos en contacto contigo pronto.</p>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
