/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #007bff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #007bff !important;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

/* Footer Styles */
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom Image Styles */
img {
    max-width: 100%;
    height: auto;
}

/* Text Centering */
.text-center {
    text-align: center;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Circle Styling */
.rounded-circle {
    border-radius: 50%;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.text-white {
    color: #ffffff !important;
}
