<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <!-- Incluye el navbar aquí -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <h1 class="text-center my-4">Quienes somos</h1>
        <p>Somos una plataforma para compartir y descubrir libros. Nuestra misión es conectar lectores con las mejores obras literarias</p>
        <p>¡Gracias por visitar BookAdvisor!</p>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>